<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjq.mybatis.mapper.OrderMapper">

    <resultMap id="user" type="com.zjq.mybatis.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="age" property="age" />
    </resultMap>


    <!--根据用户id进行查询-->
    <select id="getUserByOrderId" resultMap="user" parameterType="long">
        select u.* from orders o,`user` u where o.uid=u.id and o.id=#{uid}
    </select>

</mapper>
