<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjq.mybatis.mapper.UserXMLMapper">

    <resultMap id="user" type="com.zjq.mybatis.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="age" property="age" />
    </resultMap>

    <resultMap id="userMap" type="com.zjq.mybatis.entity.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="phone" property="phone"></result>
        <result column="age" property="age"></result>
        <collection property="orderList" ofType="com.zjq.mybatis.entity.Order">
            <result column="oid" property="id"></result>
            <result column="ordertime" property="ordertime"></result>
            <result column="total" property="total"></result>
        </collection>
    </resultMap>

    <!--删除操作-->
    <delete id="deleteById" parameterType="long">
        delete from user where id=#{id}
    </delete>

    <!--修改操作-->
    <update id="update" parameterType="com.zjq.mybatis.entity.User">
        update user set username=#{username},password=#{password},phone=#{phone},age=#{age} where id =#{id}
    </update>

    <!--插入操作-->
    <insert id="add" parameterType="com.zjq.mybatis.entity.User">
        insert into user(username,password,phone,age) values(#{username},#{password},#{phone},#{age})
    </insert>

    <!--查询操作-->
    <select id="list" resultType="com.zjq.mybatis.entity.User">
        select * from user
    </select>

    <!--根据id进行查询-->
    <select id="getById" resultType="com.zjq.mybatis.entity.User" parameterType="long">
        select * from user where id=#{id}
    </select>

    <!--获取所有用户和订单信息-->
    <select id="findAllUserAndOrders" resultMap="userMap">
        select *,o.id oid from user u left join orders o on u.id=o.uid
    </select>

</mapper>
